<html>
<head>
  <title>TODO List</title>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/mainpage.css">
</head>

<body id="mainpage_body">
<div id="Page" data-ng-app="mainPage">
<div id="header" data-ng-controller="headerControl">
<!-- this is the header -->
  <h1>{{userName}}</h1>
  <button id="addButton" type="button" name="Add" data-ng-click="addButton()">Add new Event</button>
  <button id="logoutButton" type="button" name="Logout" data-ng-click="logOut()">Logout</button>
</div>
<div id="content_siderbar" data-ng-controller="sidebarControl">
  <!-- this is the sidebar -->
</div>
<div id="content_displaypane" data-ng-controller="contentControl">
<!--  this is the display pane -->
</div>
<div id="footer" data-ng-controller="footerControl">
  <!-- this is the footer -->

</div>
</div>
</body>
<script type="text/javascript" src="../angular/mainpage.js"></script>
<script type="text/javascript">
  function logOut(){

  }
</script>
</html>
